@import "tailwindcss";
@media print {

  body {
    background: white !important;
  }

  button {
    display: none !important;
  }
  .no-print {
    display: none !important;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease;
}
